<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>   
    <add key="LogFile" value="LogCreateCA.txt"/>
    <add key="SheetName" value="Data$"/>
    <add key="UserName" value="hdlong01"/>
    <add key="AssigneePosition" value="1"/>
    <add key="AffectedEndUserPosition" value="1"/>
    <add key="Password" value="ttplpttl4L"/>
    <add key="Name" value="Long_SP"/>
    <add key="Group" value="P1.QTUD.L2"/>
    <add key="ConnectionString" value="Data Source=(local);Initial Catalog=CA;Integrated Security=SSPI"/>
    <add key="ReportHeaderFile" value="ReportHeader.xlsx"/>
    <add key="ReportDetailFile" value="ReportDetail.xlsx"/>
    <add key="ReportName" value="Hà Đắc Long"/>
    <add key="ReportUserName" value="hdlong01"/>

  </appSettings>
</configuration>